@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./header.css";
@import "./footer.css";
@import "./nav.css";
@import "./writer.css";
@import "./main.css";
@import "./calendar.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-shippori-mincho), sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.title {
  font-family: var(--font-youngest), sans-serif;
}
