.main-content {
  @apply z-10 text-right absolute right-[10%] bottom-[10%] p-5;
}

.main-content h1 {
  @apply text-6xl;
}

.main-content p {
  @apply text-lg leading-relaxed text-yellow-400;
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale {
  animation: scale-up 1.5s ease-out forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 1.5s ease-out forwards;
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slide-right 1.5s ease-out forwards;
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 1.5s ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 1.5s ease-out forwards;
}

.profile-container {
  @apply grid grid-cols-[60%_1fr] w-full h-full;
}

.profile-left-container {
  @apply bg-red-600 text-white flex flex-col justify-between items-center;
}

.profile-right-container {
  @apply flex flex-col justify-center items-center p-[15%_5%];
}

.profile-text {
  @apply bg-red-600 w-full text-white flex flex-row justify-start items-end p-5;
}

.profile-text h1 {
  @apply text-6xl mb-2.5;
}

.profile-text h2 {
  @apply text-2xl ml-2.5 mb-5;
}

.profile-text p {
  @apply text-lg mb-5;
}

.icons {
  @apply flex gap-5 mt-5;
}

.icons .icon {
  @apply w-20 h-20 flex items-center justify-center;
}

.icons .icon svg {
  @apply w-20 h-20 fill-white;
}

.category-container {
  @apply w-full h-full flex flex-col justify-center items-center;
}

.category-top-container {
  @apply flex flex-row items-stretch h-1/2 w-full;
}

.category-bottom-container {
  @apply flex flex-row items-stretch h-1/2 w-full;
}

.content-container img {
  @apply max-w-full;
}